---
layout: default
---

<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
	<div class="container" style="padding: 0px;">
		<div class="row">
			<div class="col-xs-12">
			<!-- place your image here -->
				<!-- <img src="/res/XC2 Logo on Flat Map 684x400_hi res.jpg" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"> -->
				<!-- <a href="https://blockchainsupplychain.io/#register"><img src="/res/XC2 Logo on Flat Map.png" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a> -->
			</div>
		</div>
	</div>
</div>



<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div id="about">
		<!--<h1>About Us</h1>-->
		<div class="row">
			<div class="col-md-12">
				<h1> About Us </h1>
				<p>Supply chain blockchain is taking root at a rapid clip. Emerging today are the components needed to create robust supply chain blockchain networks. However, exponential change will truly start to take shape through the integration of blockchain with other innovative technologies like AI and IoE. Technological intersections like these have lead to major corporations like Amazon, Uber, Stripe, and numerous others.</p>
				<p>The collision of cutting edge solutions like blockchain, AI, and IoE will help the supply chain and logistics market address key issues as well as costly problems by providing a deeper understanding of what and how supply chain and logistics processes can be optimized.</p>
				<p>XChain2 is a two day event promoting education, collaboration, innovation, and research among technologists, stakeholders, solution providers, and business leaders.</p>
				<p>Join us for an enlightening exploration into these revolutionary technologies and learn how they will synergize each other and industry. At XChain2, you will discover how blockchain, AI, and IoE have solved real-world problems in logistics and meet subject matter experts who will be showcasing their pilot projects as well as the value they added. More importantly, you will learn how to incorporate blockchain, AI, and IoE into your business and transform your supply chains.</p>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
		<div class="container" style="padding: 0px;">
			<div class="row">
				<div class="col-xs-12">
					<!-- place your image here -->
					<!-- <img src="/res/XC2 Logo on Flat Map 684x400_hi res.jpg" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"> -->
				<a><img src="/res/Sunset Cut Twilight Evening Truck American Color.jpg" alt="supply chain and logistics truck photo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a>
				</div>
			</div>
		</div>
	</div>
</section>


<hr class="clearfix w-100 d-md-none standard-break">


<section class="container">
	<div id="speakers" class="people-list">
		<h1>Speakers & Panelists</h1>
		<p class="notice">*Speakers & Panelists from May 2018 Conference</p>
		<p class="notice">Interested in speaking at the next edition of XChain2? Contact us at speakers@blockchainsupplychain.io.</p>


		<div class="row">
			{% for post in site.categories.speakers %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
		<div class="container" style="padding: 0px;">
			<div class="row">
				<div class="col-xs-12">
					<a><img src="/res/Train Cars (petrochmical) at Refinery.jpg" alt="petrochemical supply chain and logistics train photo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a>
				</div>
			</div>
		</div>
	</div>
</section>


<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="agenda">
		<h1>Agenda</h1>
		<p class="notice">*Agenda from May 2018 Conference</p>
		<div class="row">

			<!-- Start of Tab -->
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab"><b>Day 1</b></a></li>
					<li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab"><b>Day 2</b></a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">

					<!-- Day 1 -->
					<div role="tabpanel" class="tab-pane fade in active" id="day1">
						<div class="row">
							
						</div>
					</div>

					<!-- Day 2 -->
					<div role="tabpanel" class="tab-pane fade" id="day2">
						<div class="row">

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Tab -->
		</div>
	</div>
</section>


<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
		<div class="container" style="padding: 0px;">
			<div class="row">
				<div class="col-xs-12">
					<a><img src="/res/Container Ship Unloading in Port Dock_edited.jpg" alt="supply chain and logistics container ship unloading in port" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a>
				</div>
			</div>
		</div>
	</div>
</section>


<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="sponsors" class="people-list">
		<h1>Sponsors & Partners</h1>
		<p class="notice">*Sponsors & Partners from May 2018 Conference</p>
		<p class="notice">Interested in sponsoring the next edition of XChain2? Contact us at sponsors@blockchainsupplychain.io.</p>
		<br>
		<h2>Sponsors</h2>
		<div class="row">
		{% for post in site.categories.sponsors-main %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Media Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-media %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Association Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-association %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="organizers" class="people-list">
		<h1>Organizers & Advisors</h1>
		<p class="notice">*Organizers & Advisors from May 2018 Conference</p>
		<div class="row">
		{% for post in site.categories.organizers %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		{% for post in site.categories.advisors %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<div id="organizing-companies" class="people-list">
		<div class="row">
			<div class="dummy col-lg-3 col-md-3"></div>
		{% for post in site.categories.organizer-company %}
			<div class="card center-all-card img-only-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
			<div class="dummy col-lg-3 col-md-3"></div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="contact">
		<h1>Contact</h1>

		<form action="https://formspree.io/contact@blockchainsupplychain.io" method="POST">

		<div class="messages"></div>

			<div class="controls">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_name">Name</label>
							<input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="form_positon">Position</label>
							<input id="form_position" type="text" name="position" class="form-control" placeholder="" required="required" data-error="Position is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_company">Company/Organization</label>
							<input id="form_company" type="text" name="company" class="form-control" placeholder="" required="required" data-error="Company is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="form_Company Website">Company Website</label>
							<input id="form_Company Website" type="URL" name="Company Website" class="form-control" placeholder="" required="required" data-error="Company website is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_phone">Phone</label>
							<input id="form_phone" type="tel" name="phone" class="form-control" placeholder="" required="required" data-error="Phone number is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="form_email">Email</label>
							<input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_reason">Reason</label>
							<select id="form_reason" name="reason" class="form-control">
								<option value="Speaking">Speaking</option>
								<option value="Sponsoring">Sponsoring</option>
								<option value="Media">Media</option>
								<option value="Volunteering">Volunteering</option>
								<option value="Volunteering">Community Promoter</option>
								<option value="Other">Other</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="form_message">Message</label>
							<textarea id="form_message" name="message" class="form-control" placeholder="Reason for contacting" rows="4" required="required" data-error="A message is required. Let us know what you are contacting us about."></textarea>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-12">
						<input type="submit" class="btn btn-success btn-send" value="Send">
					</div>
				</div>
		</div>
		</form>
	</div>
</section>

<br>
