---
layout: default
---

<div class="container">
	<div id="banner" class="jumbotron">
		<br>
		<br>
		<h1>xChain<sup>2</sup>: Blockchain for Supply Chain and Logistics Forum</h1>
		<p>Houston, Texas<br>
			May 21-22, 2018</p>
		<br>
		<br>
	</div>
</div>

<section id="calendar-container" class="container">
	<div id="calendar">
		<b class="button">Add to Calendar:</b>
		<a class="button" href="https://www.google.com/calendar/render?action=TEMPLATE&text=XChain2:+Blockchain+for+Supply+Chain+and+Logistics+Forum&dates=20180521T090000/20180522T130000&ctz=America/Chicago&details=For+details,+visit+http://www.blockchainsupplychain.io&location=Hyatt+Regency+Houston+Intercontinental+Airport,+425+North+Sam+Houston+Pkwy+E,+Houston,+TX+77060&sf=true&output=xml">Google Calendar</a>
		<a class="button" href="https://outlook.office.com/owa/?path=/calendar/action/compose&rru=addevent&startdt=20180521T090000&enddt=20180522T130000&subject=XChain2:+Blockchain+for+Supply+Chain+and+Logistics+Forum&location=Hyatt+Regency+Houston+Intercontinental+Airport,+425+North+Sam+Houston+Pkwy+E,+Houston,+TX+77060&body=For+details,+visit+http://www.blockchainsupplychain.io&allday=&uid=blockchainsupplychain89eh1a6sas">Outlook Online</a>
		<a class="button" href="/res/calendar.ics">Outlook</a>
		<a class="button" href="/res/calendar.ics">Other</a>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div id="about">
		<!--<h1>About</h1>-->
		<div class="row">
			<div class="col-md-12">
				<p>Blockchain technology is considered to be a game-changer for decentralizing infrastructure and building a trust layer for business logic. It is envisioned to be a technology that could propel us into the next industrial revolution, with new paradigms for doing business in finance, supply chain, transportation, shared economy, and many other industries.</p>
				<p>The Blockchain for Supply Chain and Logistics Forum is a two-day event to promote education, collaboration, innovation, and research among technologists, stakeholders, solution providers, start-ups, and business leaders.</p>
				<p>Join us for two days of exploration into this revolutionary technology. You will discover how blockchain has solved real problems in this industry, meet subject matter experts in blockchain and supply chain, and learn how to apply blockchain to transform your business.</p>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="speakers" class="people-list">
		<h1>Speakers & Panelists</h1>

		<p class="notice">Interested in speaking? Contact us at speakers@blockchainsupplychain.io.</p>
		

		<div class="row">
			{% for post in site.categories.speakers %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<p class="notice">*Subject to Change</p>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="agenda">
		<h1>Agenda</h1>
		<p class="notice">*Agenda (tentative and subject to change)</p>
		<div class="row">

			<!-- Start of Tab -->
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab"><b>Day 1</b></a></li>
					<li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab"><b>Day 2</b></a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">

					<!-- Day 1 -->
					<div role="tabpanel" class="tab-pane fade in active" id="day1">
						<div class="col-xxs-12 text-center"></br><b><u>Monday, May 21, 2018</u></b></br></br></div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>8:00 AM – 9:30 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Registration</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:30 AM – 9:40 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Opening Remarks</b></br>Peter Tirschwell, IHS Maritime &amp; Trade Senior Content Officer</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:40 AM – 9:50 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Sponsor Introduction</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:50 AM – 10:30 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Session 1: Keynote Address ‐ Digitization and Blockchain: Foundation of Future Port</b></br>Erwin Verstraelen. Chief Digital and Information Officer, Port of Antwerp</br>Nico Wauters. Chief Executive Officer, T-mining</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>10:30 AM – 11:10 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Session 2: End-to-end Supply Chain Collaboration Critical for Shippers/BCO’s</b></br>Special Introduction by John Moseley, Senior Director of Trade Development, Port Houston</br>Moderator: Peter Tirschwell, IHS Maritime &amp; Trade Senior Content Officer</br>Erwin Verstraelen. Chief Digital and Information Officer, Port of Antwerp</br>Charles Thompson, Chief Information Officer, Port Houston</br>Michael Shaffner, Director of Operations Planning and Technology, Port Houston</br>Nico Wauters. Chief Executive Officer, T-mining</br>Alexander Varvarenko. Chief Executive Officer, Veles Bulk and ShipNEXT</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>11:10 AM – 12:10 PM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Session 3: Solving Pain Points of Trucking Industry with Blockchain</b></br></br><b>Risk Management and Data Analytics over Blockchain for Trucking</b></br>Derek Lovrenich, Chief Executive Officer, InsurEco</br></br><b>Blockchain-Powered Trucking: Using Irrefutable Records to Drive Cash Flow and Liquidity</b></br>Max Ward, Chief Executive Officer, OpenPort</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>12:10 PM – 1:10 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Networking Luncheon</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>1:30 PM – 1:50 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Session 4: Powering Blockchain Innovation through Academic – Industry Partnership</b></br>Dr. Shin'ichiro Matsuo, Research Professor, Georgetown University; Director, B-TED</br>Paul Brigner, J.D., Managing Director, B-TED</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>1:50 PM – 2:50 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Session 5: Transforming Supply Chains with Blockckchain</b></br></br><b>Supply Chains and Blockchains - Driving Economic Impact and Fairer Trade</b></br>Jason English, Vice President, Sweetbridge</br></br><b>Assessing the Realities and Opportunities of Blockchain Implementation in Supply Chains</b></br>Mark Toohey, Founder, TBSx3</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>2:50 PM – 3:10 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Afternoon Networking and Coffee Break</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>3:10 PM – 3:40 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Session 6: Session: Developing Winning Blockchain Strategy: Addressing Key Adoption Questions</b></br></br><b>Off the Chain! Network SaaS Platforms and Blockchain: What Belongs On-Chain vs. Off-Chain</b></br>Bill McBeath, Chief Research Officer, ChainLink Research</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>3:40 PM – 4:10 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Session 7: Securing the Machine Economy</b></br>Allison Clift-Jennings, Chief Executive Officer, Filament</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>4:10 PM – 5:10 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Session 8: Supply Chain Transparency and Traceability</b></br></br><b>Global Food Supply Chain and Logistics</b></br>Peter Harris, Co-Founder and Research Principal, Chain Business Insights</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>5:10 PM – 5:20 PM</b> -->
								<b>Afternoon</b>
							</div>
							<div class="col-sm-6">
								<b>Closing Remarks</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
					</div>

					<!-- Day 2 -->
					<div role="tabpanel" class="tab-pane fade" id="day2">
						<div class="col-xxs-12 text-center">
							</br><b><u>Tuesday, May 22, 2018</u></b></br></br>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>8:00 AM – 9:30 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Registration</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:30 AM – 9:40 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Opening Remarks</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:40 AM – 9:50 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Sponsor Introduction</b></br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>9:50 AM – 10:30 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Session 9: Keynote Address ‐ Blockchain Pilots for Commercial Customs and ACE </b></br>Vincent Annunziato, Director, Office of Trade, U.S. Customs and Border Protection</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
								<!-- <b>10:30 AM – 11:10 AM</b> -->
								<b>Morning</b>
							</div>
							<div class="col-sm-6">
								<b>Session 10: Blockchain for Global Supply Chain and Trade: Live Demo</b></br>Emmanuel Viale, Managing Director, Accenture Technology Labs</br>Luca Schiatti, R&amp;D Associate Manager, Accenture Labs</br></br>
							</div>
							<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
							<!-- <b>11:10 AM – 12:10 PM</b> -->
							<b>Morning</b>
						</div>
						<div class="col-sm-6">
							<b>Session 11: Fuel the Future of Petrochemical Industry</b></br></br><b>Blockchain for O&amp;G Exploration &amp; Production: Pilots and Future Opportunities</b></br>Andrew Bruce, Chief Executive Officer, Data Gumbo</br></br><b>Blockchain for Energy Industry</b></br>Arno Laeven, Blockchain Lead, Royal Dutch Shell</br></br><b>Energy and the Supply Chain</b></br>Tetyana Colosivschi, Director, Strategy, Business Development and Partnerships at ConsenSys Energy</br></br>
						</div>
						<div class="col-sm-4">
							<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
							<!-- <b>1:10 PM – 1:30 PM</b> -->
							<b>Afternoon</b>
						</div>
						<div class="col-sm-6">
							<b>Session 12: Moving Forward with Blockchain Applications in Financial Energy Trading</b></br>Moderator: Craig Pirrong, Director, Global Energy Management Institute - Bauer College of Business - University of Houston</br>James C. Row, CFA, Managing Partner, Entoro Capital, LLC</br>Deanna R. Reitman, Corporate &amp; Securities Counsel, DLA Piper</br>Michael Prokop, Managing Director, Deloitte &amp; Touche, LLP</br></br>
						</div>				
						<div class="col-sm-4">
							<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
							<!-- <b>5:10 PM – 5:20 PM</b> -->
							<b>Afternoon</b>
						</div>
						<div class="col-sm-6">
							<b>Closing Remarks</b></br></br>
						</div>
						<div class="col-sm-4">
							<!-- Testing -->
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-2">
							<!-- <b>5:10 PM – 5:20 PM</b> -->
							<b>Afternoon</b>
						</div>
						<div class="col-sm-6">
							<b>Networking Luncheon</b></br></br>
						</div>
						<div class="col-sm-4">
								<!-- Testing -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Tab -->

			
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="venue">
		<h1>Venue</h1>
		<div class="row">
			<div class="col-md-4">
				<p><b>Hyatt Regency Houston Intercontinental Airport</b><br>
				425 North Sam Houston Pkwy E<br>
				Houston, TX 77060</p>
				<p class="smaller">Reserve a room at the Hyatt at a discounted rate <a href="https://book.passkey.com/e/49617867">here</a>.</p>
			</div>
			<div class="col-md-8">
				<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3457.3646351519187!2d-95.39792524927137!3d29.940188630356328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c9e239739aff%3A0x22a8301bf45967a9!2sHyatt+Regency+Houston+Intercontinental+Airport!5e0!3m2!1sen!2sus!4v1520818249240" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="register">
		<h1>Register</h1>
		<iframe src="https://eventbrite.com/tickets-external?eid=43072648451&ref=etckt" frameborder="0" height="500px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
		<!--<div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>-->
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="hotels">
		<h1>Travel Arrangements</h1>
		<p>The conference will take place on <b>May 21-22, 2018</b> at the <b>Hyatt Regency Houston Intercontinental Airport</b> hotel. The address of the Hyatt is <i>425 North Sam Houston Pkwy E. Houston, TX 77060</i>.</p> 
		<p>You can fly in to George Bush Intercontinental Airport, which is about two miles northeast of the venue, or William P. Hobby Airport about twenty miles south of the venue. Visit <a href="http://www.fly2houston.com/">fly2houston.com</a> for more information about flights.</p>
		<p>Rooms are available at the Hyatt at a discounted rate if you reserve <a href="https://book.passkey.com/e/49617867"><u>here</u></a>. There are many nearby hotels as well:</p>
		<ul>
			<li>Hyatt Place Houston/Bush Airport: 300 Ronan Park Pl, Houston, TX 77060</li>
			<li>Houston Marriott North: 255 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Courtyard by Marriott Houston North: 16500 Hedgecroft Dr., Houston, TX 77060</li>
			<li>Park Inn by Radisson: 500 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Residence Inn by Houston Marriott Hosuton North: 655 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Regency Suites: 15420 W. Hardy Road, Houston, TX 77060</li>
		</ul>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="sponsors" class="people-list">
		<h1>Sponsors & Partners</h1>
		<p class="notice">Interested in sponsoring? Contact us at sponsors@blockchainsupplychain.io.</p>
		<br>
		<h2>Sponsors</h2>
		<div class="row">
		{% for post in site.categories.sponsors-main %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Media Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-media %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Association Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-association %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="organizers" class="people-list">
		<h1>Organizers & Advisors</h1>
		
		<div class="row">
		{% for post in site.categories.organizers %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		{% for post in site.categories.advisors %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<div id="organizing-companies" class="people-list">
		<div class="row">
			<div class="dummy col-lg-3 col-md-3"></div>
		{% for post in site.categories.organizer-company %}
			<div class="card center-all-card img-only-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
			<div class="dummy col-lg-3 col-md-3"></div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="contact">
		<h1>Contact</h1>

		<form action="https://formspree.io/contact@blockchainsupplychain.io" method="POST">

			<div class="messages"></div>

			<div class="controls">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_name">Name</label>
							<input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_company">Company/Organization</label>
							<input id="form_company" type="text" name="company" class="form-control" placeholder="" required="required" data-error="Company is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_email">Email</label>
							<input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_phone">Phone</label>
							<input id="form_phone" type="tel" name="phone" class="form-control" placeholder="" required="required" data-error="Phone number is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_reason">Reason</label>
							<select id="form_reason" name="reason" class="form-control">
								<option value="Speaking">Speaking</option>
								<option value="Sponsoring">Sponsoring</option>
								<option value="Media">Media</option>
								<option value="Volunteering">Volunteering</option>
								<option value="Other">Other</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="form_message">Message</label>
							<textarea id="form_message" name="message" class="form-control" placeholder="Reason for contacting" rows="4" required="required" data-error="A message is required. Let us know what you are contacting us about."></textarea>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-12">
						<input type="submit" class="btn btn-success btn-send" value="Send">
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<br>
