---
layout: default
---

<div class="container">
	<div id="banner" class="jumbotron">
		<br>
		<br>
		<h1>xChain<sup>2</sup>: Blockchain for Supply Chain and Logistics Forum</h1>
		<p>Houston, Texas<br>
			May 21-22, 2018</p>
		<br>
		<br>
	</div>
</div>

<section class="container">
	<div id="about">
		<!--<h1>About</h1>-->
		<div class="row">
			<div class="col-md-12">
				<p>Blockchain technology is considered to be a game-changer for decentralizing infrastructure and building a trust layer for business logic. It is envisioned to be a technology that could propel us into the next industrial revolution, with new paradigms for doing business in finance, supply chain, transportation, shared economy, and many other industries.</p>
				<p>The Blockchain for Supply Chain and Logistics Forum is a two-day event to promote education, collaboration, innovation, and research among technologists, stakeholders, solution providers, start-ups, and business leaders.</p>
				<p>Join us for two days of exploration into this revolutionary technology. You will discover how blockchain has solved real problems in this industry, meet subject matter experts in blockchain and supply chain, and learn how to apply blockchain to transform your business.</p>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="speakers" class="people-list">
		<h1>Speakers & Panelists</h1>

		<p class="notice">Interested in speaking? Contact us at speakers@blockchainsupplychain.io.</p>
		

		<div class="row">
			{% for post in site.categories.speakers %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="program">
		<h1>Agenda</h1>
		<p class="notice">This event agenda is tentative and is subject to change before the event.</p>
		<div class="panel-group row" id="accordion">
			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Day 1</h4>
					</div>
					<div class="panel-body">
						<table class="program-table table table-striped table-condensed">
							<col width="30%">
							<col width="70%">

							<thead class="program-header" style="font-weight: 800;">
								<tr>
									<th>Time</th>
									<th>Activity</th>
								</tr>
							</thead>
							<tr class="program-item">
								<td>08:00 AM</td>
								<td>Registration & Networking</td>
							</tr>
							<tr class="program-item">
								<td>08:30 AM</td>
								<td>Morning Keynote</td>
							</tr>
							<tr class="program-item">
								<td>09:15 AM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>10:15 AM</td>
								<td>Morning Coffee Break</td>
							</tr>
							<tr class="program-item">
								<td>10:45 AM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>11:45 AM</td>
								<td>Panel</td>
							</tr>
							<tr class="program-item">
								<td>12:30 AM</td>
								<td>Lunch Break</td>
							</tr>
							<tr class="program-item">
								<td>01:30 PM</td>
								<td>Afternoon Keynote</td>
							</tr>
							<tr class="program-item">
								<td>02:15 PM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>03:45 PM</td>
								<td>Afternoon Coffee Break</td>
							</tr>
							<tr class="program-item">
								<td>04:15 PM</td>
								<td>Panel</td>
							</tr>
							<tr class="program-item">
								<td>05:00 PM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>05:30 PM</td>
								<td>Closing Remarks</td>
							</tr>
							<tr class="program-item">
								<td>06:00 PM</td>
								<td>End of Day 1</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 margin-top-small">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Day 2</h4>
					</div>
					<div class="panel-body">
						<table class="program-table table table-striped table-condensed">
							<col width="30%">
							<col width="70%">

							<thead class="program-header" style="font-weight: 800;">
								<tr>
									<th>Time</th>
									<th>Activity</th>
								</tr>
							</thead>
							<tr class="program-item">
								<td>08:00 AM</td>
								<td>Networking</td>
							</tr>
							<tr class="program-item">
								<td>08:30 AM</td>
								<td>Morning Keynote</td>
							</tr>
							<tr class="program-item">
								<td>09:15 AM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>10:15 AM</td>
								<td>Morning Coffee Break</td>
							</tr>
							<tr class="program-item">
								<td>10:45 AM</td>
								<td>Speaker Session</td>
							</tr>
							<tr class="program-item">
								<td>11:45 AM</td>
								<td>Panel</td>
							</tr>
							<tr class="program-item">
								<td>12:30 PM</td>
								<td>Closing Remarks & Conclusion</td>
							</tr>
							<tr class="program-item">
								<td>01:00 PM</td>
								<td>End of Day 2</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="venue">
		<h1>Venue</h1>
		<div class="row">
			<div class="col-md-4">
				<p><b>Hyatt Regency Houston Intercontinental Airport</b><br>
				425 North Sam Houston Pkwy E<br>
				Houston, TX 77060</p>
				<p class="smaller">Reserve a room at the Hyatt at a discounted rate <a href="https://book.passkey.com/e/49617867">here</a>.</p>
			</div>
			<div class="col-md-8">
				<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3457.3646351519187!2d-95.39792524927137!3d29.940188630356328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c9e239739aff%3A0x22a8301bf45967a9!2sHyatt+Regency+Houston+Intercontinental+Airport!5e0!3m2!1sen!2sus!4v1520818249240" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="register">
		<h1>Register</h1>
		<iframe src="https://eventbrite.com/tickets-external?eid=43072648451&ref=etckt" frameborder="0" height="500px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
		<!--<div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>-->
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="hotels">
		<h1>Travel Arrangements</h1>
		<p>The conference will take place on <b>May 21-22, 2018</b> at the <b>Hyatt Regency Houston Intercontinental Airport</b> hotel. The address of the Hyatt is <i>425 North Sam Houston Pkwy E. Houston, TX 77060</i>.</p> 
		<p>You can fly in to George Bush Intercontinental Airport, which is about two miles northeast of the venue, or William P. Hobby Airport about twenty miles south of the venue. Visit <a href="http://www.fly2houston.com/">fly2houston.com</a> for more information about flights.</p>
		<p>Rooms are available at the Hyatt at a discounted rate if you reserve <a href="https://book.passkey.com/e/49617867"><u>here</u></a>. There are many nearby hotels as well:</p>
		<ul>
			<li>Hyatt Place Houston/Bush Airport: 300 Ronan Park Pl, Houston, TX 77060</li>
			<li>Houston Marriott North: 255 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Courtyard by Marriott Houston North: 16500 Hedgecroft Dr., Houston, TX 77060</li>
			<li>Park Inn by Radisson: 500 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Residence Inn by Houston Marriott Hosuton North: 655 North Sam Houston Pkwy E. Houston, TX, 77060</li>
			<li>Regency Suites: 15420 W. Hardy Road, Houston, TX 77060</li>
		</ul>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="sponsors" class="people-list">
		<h1>Sponsors & Partners</h1>
		<p class="notice">Interested in sponsoring? Contact us at sponsors@blockchainsupplychain.io.</p>
		<br>
		<h2>Media Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-media %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Association Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-association %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="organizers" class="people-list">
		<h1>Organizers & Advisors</h1>
		
		<div class="row">
		{% for post in site.categories.organizers %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		{% for post in site.categories.advisors %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<div id="organizing-companies" class="people-list">
		<div class="row">
			<div class="dummy col-lg-3 col-md-3"></div>
		{% for post in site.categories.organizer-company %}
			<div class="card center-all-card img-only-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
			<div class="dummy col-lg-3 col-md-3"></div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="contact">
		<h1>Contact</h1>

		<form action="https://formspree.io/contact@blockchainsupplychain.io" method="POST">

			<div class="messages"></div>

			<div class="controls">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_name">Name</label>
							<input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_company">Company/Organization</label>
							<input id="form_company" type="text" name="company" class="form-control" placeholder="" required="required" data-error="Company is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_email">Email</label>
							<input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_phone">Phone</label>
							<input id="form_phone" type="tel" name="phone" class="form-control" placeholder="" required="required" data-error="Phone number is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_reason">Reason</label>
							<select id="form_reason" name="reason" class="form-control">
								<option value="Speaking">Speaking</option>
								<option value="Sponsoring">Sponsoring</option>
								<option value="Media">Media</option>
								<option value="Volunteering">Volunteering</option>
								<option value="Other">Other</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="form_message">Message</label>
							<textarea id="form_message" name="message" class="form-control" placeholder="Reason for contacting" rows="4" required="required" data-error="A message is required. Let us know what you are contacting us about."></textarea>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-12">
						<input type="submit" class="btn btn-success btn-send" value="Send">
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<br>
