---
layout: default
permalink: /organizers/
---

<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div>  -->

<div class="container">
	<div id="organizing-companies" class="people-list">
		<h1>Organizers</h1>
		<div class="row">
			
{% for post in site.categories.organizer-company %}
			<div class="card small-card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-6">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<!--<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
				</div>-->
			</div>
{% endfor %}
			<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div> -->
		</div>
	</div>
	<div id="organizers" class="people-list">
		<h2>Team</h2>
		
		<div class="row">
			<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div> -->
{% for post in site.categories.organizers %}
			<div class="card small-card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
{% endfor %}
			<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div> -->
		</div>

		<div class="row">
			<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div> -->
{% for post in site.categories.advisors %}
			<div class="card small-card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
{% endfor %}
			<!-- <div class="dummy col-lg-3 col-md-3 col-sm-2"></div> -->
		</div>
	</div>
</div>


<!-- ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ -->

     

<!--
<div class="container">
	<div id="organizers-old" class="people-list-horizontal">
		<h1>Organizers</h1>

{% for post in site.categories.organizers %}
		<div class="card row">
			<div class="col-lg-1">
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 col-xxs-4">
				<img src="{{ post.image }}" alt="">
			</div>

			<div class="col-lg-8 col-md-9 col-sm-8 col-xs-8 col-xxs-8 caption">
				<a href="{{ post.url }}">
					<h3>{{ post.name }}</h3>
				</a>
				<p>{{ post.blurb }}</p>
			</div>

			<div class="col-lg-1">
			</div>
		</div>
		<br>
{% endfor %}

	</div>
</div>

<div class="container">
	<div id="advisors" class="people-list-horizontal">
		<h1>Advisors</h1>

{% for post in site.categories.advisors %}
		<div class="card row">
			<div class="col-lg-1">
			</div>

			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 col-xxs-4">
				<img src="{{ post.image }}" alt="">
			</div>

			<div class="col-lg-8 col-md-9 col-sm-8 col-xs-8 col-xxs-8 caption">
				<a href="{{ post.url }}">
					<h3>{{ post.name }}</h3>
				</a>
				<p>{{ post.blurb }}</p>
			</div>

			<div class="col-lg-1">
			</div>
		</div>
		<br>
{% endfor %}

	</div>
</div>

-->

<!-- ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ 
     ============================================================================ -->

<!--
<div class="container">
	<div id="organizers" class="people-list-horizontal">
		<h1>Organizers</h1>

		<div class="row">

			<div class="card col-xxs-12 col-xs-12 col-md-4" style="min-height: 150px;"> 
				<div class="picture" style="margin-top: 20px; vertical-align: top; display: inline-block; width: 30%; max-width: 100px;">
					<img style="display: inline-block; width: 100%; border-radius: 20%;" src="/res/person-placeholder.png" alt="">
				</div>
				<div class="caption" style="display: inline-block; max-width: 65%; margin-left: 5px;">
					<h3 style="">Dr. Larry Shi</h3>
					<p style="">Dr. Larry Shi is an associate professor of Computer Science at the University of Houston. He researches blockchain technology and computer security and is funded by the US Department of Homeland Security.</p>
				</div>
			</div>

			<div class="card col-xxs-12 col-xs-12 col-md-4" style="min-height: 150px;"> 
				<div class="picture" style="margin-top: 20px; vertical-align: top; display: inline-block; width: 30%; max-width: 100px;">
					<img style="display: inline-block; width: 100%; border-radius: 20%;" src="/res/person-placeholder.png" alt="">
				</div>
				<div class="caption" style="display: inline-block; max-width: 65%; margin-left: 5px;">
					<h3 style="">Dr. Omprakash Gnawali</h3>
					<p style="">Dr. Omprakash Gnawali is an associate professor of Computer Science at the University of Houston. He researches networked systems and the internet of things.</p>
				</div>
			</div>

			<div class="card col-xxs-12 col-xs-12 col-md-4" style="min-height: 150px;"> 
				<div class="picture" style="margin-top: 20px; vertical-align: top; display: inline-block; width: 30%; max-width: 100px;">
					<img style="display: inline-block; width: 100%; border-radius: 20%;" src="/res/person-placeholder.png" alt="">
				</div>
				<div class="caption" style="display: inline-block; max-width: 65%; margin-left: 5px;">
					<h3 style="">Mr. Ripp Motion</h3>
					<p style="">Mr. Ripp Motion is a marketer.</p>
				</div>
			</div>

		</div>

		<h1>Advisors</h1>

		<div class="row">

			<div class="card col-xxs-12 col-xs-12 col-md-4" style="min-height: 150px;"> 
				<div class="picture" style="margin-top: 20px; vertical-align: top; display: inline-block; width: 30%; max-width: 100px;">
					<img style="display: inline-block; width: 100%; border-radius: 20%;" src="/res/person-placeholder.png" alt="">
				</div>
				<div class="caption" style="display: inline-block; max-width: 65%; margin-left: 5px;">
					<h3 style="">Mr. Filip Vandenbussche</h3>
					<p style="">Mr. Filip Vandenbussche is the North American Representative of the Port of Antwerp, Europe's 2nd largest seaport.</p>
				</div>
			</div>

			<div class="card col-xxs-12 col-xs-12 col-md-4" style="min-height: 150px;"> 
				<div class="picture" style="margin-top: 20px; vertical-align: top; display: inline-block; width: 30%; max-width: 100px;">
					<img style="display: inline-block; width: 100%; border-radius: 20%;" src="/res/person-placeholder.png" alt="">
				</div>
				<div class="caption" style="display: inline-block; max-width: 65%; margin-left: 5px;">
					<h3 style="">Mr. Bill McBeath</h3>
					<p style="">Mr. Bill McBeath is Chief Research Officer of ChainLink Research, a leading research and advisory firm in the supply chain industry.</p>
				</div>
			</div>

		</div>

	</div>
</div>
-->
<!--
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Dr. Larry Shi</h3>
					<p>Dr. Larry Shi is an associate professor of Computer Science at the University of Houston. He researches blockchain technology and computer security and is funded by the US Department of Homeland Security.</p>
				</div>
			</div>
			
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Dr. Omprakash Gnawali</h3>
					<p>Dr. Omprakash Gnawali is an associate professor of Computer Science at the University of Houston. He researches networked systems and the internet of things.</p>
				</div>
			</div>
			
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="" class="card-image">
				<div class="caption">
					<h3>Mr. Ripp Motion</h3>
					<p>Mr. Ripp Motion is a marketer.</p>
				</div>
			</div>
			
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Ms. Michaella Black</h3>
					<p>Ms. Michaella Black is a marketer and event planner.</p>
				</div>
			</div>
-->
<!--
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Mr. Larry Carranco</h3>
					<p>Mr. Larry Carranco is a student at the University of Houston.</p>
				</div>
			</div>

			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Mr. Nolan Shah</h3>
					<p>Mr. Nolan Shah is a student at the University of Houston.</p>
				</div>
			</div>
-->
<!--
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Mr. Filip Vandenbussche</h3>
					<p>Mr. Filip Vandenbussche is the North American Representative of the Port of Antwerp, Europe's 2nd largest seaport.</p>
				</div>
			</div>
			<div class="card col-xs-3 col-sm-4 col-xxs-12 col-xs-12 col-md-4 col-xxxs-12">
				<img src="/res/person-placeholder.png" alt="">
				<div class="caption">
					<h3>Mr. Bill McBeath</h3>
					<p>Mr. Bill McBeath is Chief Research Officer of ChainLink Research, a leading research and advisory firm in the supply chain industry.</p>
				</div>
			</div>
-->
