
$font-size-primary: 18px;
$font-size-secondary: 16px;
$font-size-tertiary: 14px;

body {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
	color: #333333;

}

.main-bg-region {
	//background-image: url('/res/bg-pattern1.png');
	//background-color: #f2efe4;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-15 {
	padding-bottom: 15px;
}

.fs-18 {
	font-size: 18px
}

.times-sm {
	@media (max-width: 768px) {
			text-align: center;
	}
}

.col-md-2half {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-md-2half {
		width: 20%;
	}
}

#header {
	background-color: white;
	margin: 0;

	border-color: #ce433c;
	border-bottom-width: 2px;

	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	
	//@media (max-width: 1200px) {
	//	margin-bottom: 0;
	//}

	.navbar-brand {
		padding: 8px 15px;
	}

	.navbar-brand img {
		width: 100px;
	}

	@media (max-width: 374px) {
		.navbar-offcanvas {
			width: 250px;
		}
	}


	.navmenu-brand {
		margin: 0;
		padding: 0;
	}
	
	.navmenu-brand img {
		width: 250px;
	}

	a {
		//color: #333333;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		transition-duration: 0.3s;
	}

	a:hover {
		color: #0a6c85;
		text-decoration: underline;
	}

	.register {
		background-color: #d1463c;
		color: #ffffff;
	}
	
	a.register:hover {
		color: #ffffff;
	}
}

#main {
	section {
		margin-bottom: 20px;

		h1 {
			//color: #ce433c;
			//color: black;
			//font-weight: 800;
		}

		p {
		}
	}

	.container {
		@media (max-width: 768px) {
			margin: 0 auto;
			padding: 0 5px;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: justify;
			font-size: $font-size-primary;

			//color: black;
		}

		.notice {
			font-size: $font-size-secondary;
			font-style: italic;
			text-align: center;
		}

		.smaller {
			font-size: $font-size-tertiary;
			font-style: italic;
		}
	}

	hr {
		//border-color: #ce433c;
		//border-width: 2px;
		margin-top: 35px;
		margin-bottom: 5px;
	}

	
}

.btn-register {
	background-color: #d1463c;
	color: #ffffff;
}

#footer {
	background-color: white;
	font-size: $font-size-secondary;

	.attribution {
		font-size: $font-size-tertiary;
		font-style: italic;
	}
} 

/////////////////////////////////////////////
/////////////////////////////////////////////
// Special Overrides

#main {
	#banner {
		margin-top: 15px;
		background-image: url('/res/banner-new.jpg');
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		background-attachment: scroll;
		background-clip: border-box;
		
		h1, p {
			color: white;
			text-shadow: rgb(0, 0, 0) 0px 2px 5px;
			text-align: left;
		}

		p {
			font-size: 21px;
			@media (max-width: 768px) {
				font-size: 18px;
			}
		}

		@media (max-width: 768px) {
			border-radius: 0;
		}

		@media (min-width: 768px) {
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
		}
	}

	#venue {
		p {
			text-align: left;

			@media (max-width: 992px) {
				text-align: center;
			}
		}

		.map {
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.3) 0px 0px 3px;
			width: 100%;
			height: 450px;
		}
	}

	#program {
		.panel-heading {
			//background-color: #ce433c;
			//color: white;
			h4 {
				font-weight: 600;	
			}
			
		}

		.margin-top-small {
			@media (max-width: 992px) {
				padding-top: 30px;
			}
		}
	}
}

#main {

	.people-media-list {
		h2 {
			text-align: center;
		}

		.card {
			// less than 480px
			height: 300px;
			text-align: center;

			@media (min-width: 480px) {
				height: 300px;
				text-align: center;
			}

			@media (min-width: 768px) {
				height: 330px;
				text-align: left;
			}

			@media (min-width: 1200px) {
				height: 370px;
				text-align: left;
			}

			img {
				margin: 0 auto;
				//border-radius: 20%;

				border: 5px solid white;
				box-shadow: rgba(0,0,0,0.3) 0px 0px 3px;

				// less than 480px
				height: 190px;
				width: 190px;

				@media (min-width: 480px) {
					height: 190px;
					width: 190px;
				}

				@media (min-width: 768px) {
					height: 210px;
					width: 210px;
				}

				@media (min-width: 992px) {
					height: 220px;
					width: 220px;
				}

				@media (min-width: 1200px) {
					height: 252px;
					width: 252px;
				}
			}

			.caption {

				h4 {
					font-weight: 700;
					margin-bottom: 0;
				}

				p {
					font-size: $font-size-tertiary;
					text-align: left;

					@media (max-width: 768px) {
						text-align: center;
					}
				}

				a {
					color: #333333;
				}
			}
		}

		.center-all-card {
			text-align: center;
			.caption {
				p {
					text-align: center;
				}	
			}
		}

		.img-only-card {
			height: auto;
		}

		.extra-space-card {
			// less than 480px
			height: auto;

			@media (min-width: 480px) {
				height: 300px;
			}

			@media (min-width: 768px) {
				height: 320px;
			}

			@media (min-width: 1200px) {
				height: 370px;
			}
		}
	}	
		
	.people-list {
		h2 {
			text-align: center;
		}

		.card {
			// less than 480px
			height: auto;
			text-align: center;

			@media (min-width: 480px) {
				height: 280px;
				text-align: center;
			}

			@media (min-width: 768px) {
				height: 300px;
				text-align: left;
			}

			@media (min-width: 1200px) {
				height: 350px;
				text-align: left;
			}

			img {
				margin: 0 auto;
				//border-radius: 20%;

				border: 5px solid white;
				box-shadow: rgba(0,0,0,0.3) 0px 0px 3px;

				// less than 480px
				height: 190px;
				width: 190px;

				@media (min-width: 480px) {
					height: 190px;
					width: 190px;
				}

				@media (min-width: 768px) {
					height: 210px;
					width: 210px;
				}

				@media (min-width: 992px) {
					height: 220px;
					width: 220px;
				}

				@media (min-width: 1200px) {
					height: 252px;
					width: 252px;
				}
			}

			.caption {

				h4 {
					font-weight: 700;
					margin-bottom: 0;
				}

				p {
					font-size: $font-size-tertiary;
					text-align: left;

					@media (max-width: 768px) {
						text-align: center;
					}
				}

				a {
					color: #333333;
				}
			}
		}

		.center-all-card {
			text-align: center;
			.caption {
				p {
					text-align: center;
				}	
			}
		}

		.img-only-card {
			height: auto;
		}

		.extra-space-card {
			// less than 480px
			height: auto;

			@media (min-width: 480px) {
				height: 300px;
			}

			@media (min-width: 768px) {
				height: 320px;
			}

			@media (min-width: 1200px) {
				height: 370px;
			}
		}
	}

	.person-page {
		.person-image {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			//border-radius: 20%;
		
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;

			@media (max-width: 480px) {
				max-width: 200px;
			}

			@media (max-width: 992px) {
				max-width: 200px;
				margin-bottom: 15px;
			}
		}
		.caption {
			p {
				font-size: $font-size-tertiary;
				text-align: left;
			}

		}
		.description {

		}
	}

	.two-item-cap {
		img {
			max-width: 240px;
		}
	}
}

#main {
	.error404 {
		h1 {
			font-size: 3em;
		}
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}

#main {
	#calendar-container {
		text-align: center;
		#calendar {
			padding: 0 10px;
			display: inline-block;
			font-size: 14px;
			padding: 5px;
			background-color: rgb(235, 235, 235);
			color: rgb(75, 75, 75);
			border-radius: 5px;
			.button {
				color: rgb(75, 75, 75);
				margin: 0 4px;
			}
		}
	}
}

/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////

:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}
