
$font-size-primary: 18px;
$font-size-secondary: 16px;
$font-size-tertiary: 14px;

body {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
	color: #333333;

}

.main-bg-region {
	background-image: url('/res/bg-pattern1.png');
}

.col-md-2half {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-md-2half {
		width: 20%;
	}
}

#header {
	background-color: white;
	margin: 0;
	
	//@media (max-width: 1200px) {
	//	margin-bottom: 0;
	//}

	.navbar-brand {
		font-weight: 800;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		transition-duration: 0.3s;
	}

	a:hover {
		color: #0a6c85;
		text-decoration: underline;
	}
}

#main {
	section {
		margin-top: 20px;
	}

	.container {
		@media (max-width: 768px) {
			margin: 0 auto;
			padding: 0 5px;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: justify;
			font-size: $font-size-primary;
		}

		.notice {
			font-size: $font-size-secondary;
			font-style: italic;
			text-align: center;
		}

		.smaller {
			font-size: $font-size-tertiary;
			font-style: italic;
		}
	}
}

#footer {
	background-color: white;
	font-size: $font-size-secondary;

	.attribution {
		font-size: $font-size-tertiary;
		font-style: italic;
	}
} 

/////////////////////////////////////////////
/////////////////////////////////////////////
// Special Overrides

#main {
	#banner {
		margin-top: 15px;
		background-image: url('/res/Houston_KatieHaugland_CreativeCommons.jpg');
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		background-attachment: scroll;
		background-clip: border-box;
		
		h1, p {
			color: white;
			text-shadow: rgb(0, 0, 0) 0px 2px 5px;
			text-align: left;
		}

		p {
			font-size: 21px;
			@media (max-width: 768px) {
				font-size: 18px;
			}
		}

		@media (max-width: 768px) {
			border-radius: 0;
		}

		@media (min-width: 768px) {
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
		}
	}

	#venue {
		p {
			text-align: left;

			@media (max-width: 992px) {
				text-align: center;
			}
		}

		.map {
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
			width: 100%;
			height: 450px;
		}
	}

	#program {
		.margin-top-small {
			@media (max-width: 992px) {
				padding-top: 30px;
			}
		}
	}
}

#main {
	.people-list {
		h2 {
			text-align: center;
		}

		.card {
			// less than 480px
			height: auto;
			text-align: center;

			@media (min-width: 480px) {
				height: 280px;
				text-align: center;
			}

			@media (min-width: 768px) {
				height: 300px;
				text-align: left;
			}

			@media (min-width: 1200px) {
				height: 350px;
				text-align: left;
			}

			img {
				margin: 0 auto;
				//border-radius: 20%;

				border: 5px solid white;
				box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;


				// less than 480px
				height: 190px;
				width: 190px;

				@media (min-width: 480px) {
					height: 190px;
					width: 190px;
				}

				@media (min-width: 768px) {
					height: 210px;
					width: 210px;
				}

				@media (min-width: 992px) {
					height: 220px;
					width: 220px;
				}

				@media (min-width: 1200px) {
					height: 252px;
					width: 252px;
				}
			}
			.caption {

				h4 {
					font-weight: 700;
					margin-bottom: 0;
				}

				p {
					font-size: $font-size-tertiary;
					text-align: left;

					@media (max-width: 768px) {
						text-align: center;
					}
				}

				a {
					color: #333333;
				}
			}
		}

		.center-all-card {
			text-align: center;
			.caption {
				p {
					text-align: center;
				}	
			}
		}

		.img-only-card {
			height: auto;
		}

		.extra-space-card {
			// less than 480px
			height: auto;

			@media (min-width: 480px) {
				height: 300px;
			}

			@media (min-width: 768px) {
				height: 320px;
			}

			@media (min-width: 1200px) {
				height: 370px;
			}
		}
	}

	.person-page {
		img {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			//border-radius: 20%;
		
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;

			@media (max-width: 480px) {
				max-width: 200px;
			}
		}
		.caption {
			p {
				font-size: $font-size-tertiary;
				text-align: left;
			}

		}
		.description {

		}
	}

	.two-item-cap {
		img {
			max-width: 240px;
		}
	}
}

#main {
	.error404 {
		h1 {
			font-size: 3em;
		}
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}

/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////

:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}
