
body {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
	color: #333333;

}

.main-bg-region {
	background-image: url('/res/bg-pattern1.png');
}

.col-md-2half {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.col-md-2half {
		width: 20%;
	}
}

#header {
	background-color: white;
	margin: 0;
	
	//@media (max-width: 1200px) {
	//	margin-bottom: 0;
	//}

	.navbar-brand {
		font-weight: 800;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		transition-duration: 0.3s;
	}

	a:hover {
		color: #0a6c85;
		text-decoration: underline;
	}
}

#main {
	.container {
		@media (max-width: 768px) {
			margin: 0 auto;
			padding: 0;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: justify;
			font-size: 18px;
		}

		@media (max-width: 768px) {
			padding: 0 5px;
		}
	}
}

#footer {
	background-color: white;
} 



/////////////////////////////////////////////
/////////////////////////////////////////////
// Special Overrides

#main {
	#banner {
		margin-top: 15px;
		background-image: url('/res/Houston_KatieHaugland_CreativeCommons.jpg');
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		background-attachment: scroll;
		background-clip: border-box;
		
		h1, p {
			color: white;
			text-shadow: rgb(0, 0, 0) 0px 2px 5px;
			text-align: left;
		}

		p {
			font-size: 21px;
			@media (max-width: 768px) {
				font-size: 18px;
			}
		}

		@media (max-width: 768px) {
			border-radius: 0;
		}

		@media (min-width: 768px) {
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
		}
	}

	#venue {
		p {
			font-size: 18px;
			text-align: left;

			@media (max-width: 992px) {
				text-align: center;
			}
		}

		.map {
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
			width: 100%;
			height: 450px;
		}
	}
}

#main {
	.people-list {
		h2 {
			text-align: center;
		}

		.card {
			img {
				width: 100%;
				margin: 0 auto;
				//border-radius: 20%;

				border: 5px solid white;
				box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;

				@media (max-width: 768px) {
					max-width: 160px;
				}
			}
			.caption {
				//height: 100px;

				@media (min-width: 480px) {
					height: 220px;
				}

				@media (min-width: 768px) {
					height: 220px;
				}

				@media (min-width: 1200px) {
					height: 220px;
				}

				p {
					font-size: 14px;
					text-align: left;
				}

				a {
					color: #333333;
				}
			}
		}
		.small-card {
			.caption {
				// height: 100px;

				@media (min-width: 480px) {
					height: 120px;
				}

				@media (min-width: 768px) {
					height: 120px;
				}

				@media (min-width: 1200px) {
					height: 100px;
				}

			}
		}
	}

	.people-list-horizontal {
		.card {
			img {
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
				//border-radius: 30%;

				border: 5px solid white;
				box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
			}
			.caption {
				h3 {
					margin-top: 0;
				}
				
				p {
					text-align: left;
				}
				
				a {
					color: #333333;
				}

			}
		}
		.small-card {
			.caption {
				// height: 100px;

				@media (min-width: 480px) {
				}

				@media (min-width: 768px) {
				}

				@media (min-width: 1200px) {
				}

			}
		}
	}

	.person-page {
		img {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			//border-radius: 20%;
		
			border: 5px solid white;
			box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;

			@media (max-width: 480px) {
				max-width: 200px;
			}
		}
		.caption {
			p {
				font-size: 14px;
				text-align: left;
			}

		}
		.description {

		}
	}
}

#main {
	.error404 {
		h1 {
			font-size: 3em;
		}
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}