<!-- Portfolio Grid Section -->
    <section id="speakers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Speakers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Given the growing interests in the Greater Houston area and neighboring regions, we are organizing the first Blockchain for Supply Chain and Logistics Forum (BSCL), to be held on May 21-22, 2018, Houston, Texas.</p>

                    <p>Blockchain is the underlying technology that has played an essential role of Bitcoin and other cryptocurrencies. Building on top of a revolutionary concept that leverages decentralized infrastructure for managing trust and business logics, blockchain is envisioned to be the transforming technology that can propel us into the 4th Industrial Revolution. Currently, the application of blockchain has been extended from the financial industry to supply chain management, logistics, transportation, Internet of Things, intelligent manufacturing, and many other fields.</p>
                
                    <p>The forum is organized to promote education, collaboration, innovation, and research among technologists, industry stakeholders, solution providers, blockchain start-ups, business leaders, financial institutions, investors, academics, innovators, and early adopters. The event will include invited talks, industry presentations, panels, exhibitions, and tutorials to share ideas, long term visions, innovations, early adopter experiences, technology trends, business models on applications of blockchain to supply chains, transportation, port operations, manufacture, and logistics.</p>
                
                    <p>If you are interested in speaking or representing in this event, please submit title, an abstract, and a short bio in the form linked below. Topics of interests include, but are not limited to, the following:</p>
                
                    <ul>
                        <li>Applications of blockchain to supply chain management, logistics, transportation, marine port operations, global trade, global supply chain security, manufacture, Internet of Things, smart cities</li>
                        <li>Standards of blockchain targeting to the interested areas of applications </li>
                        <li>Platforms of blockchain applicable to the interested areas of applications</li>
                        <li>Business models </li>
                        <li>Policies</li>
                        <li>Fintech services to the interested areas of applications</li>
                        <li>Economic analysis</li>
                        <li>Application of blockchain to enterprise management</li>
                    </ul>
                    <center><a target="_blank" href="https://goo.gl/forms/ahiKg8bhhi7ibwaF2" class="page-scroll btn btn-xl">Apply here</a></center>
                </div>
            </div>
        </div>
    </section>