<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    University of Houston<br>
                    Student Center South<br>
                    <a href="https://goo.gl/maps/ECuAJQVUCLw" target="_blank">4455, University Dr, Houston, TX 77204</a>
                </p>
                <!--<p><i>Parking Instructions</i></p>-->
            </div>
        </div>
        <div class="map text-center">
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1732.4913216962748!2d-95.34007860781938!3d29.720262015813997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2fbf3e96e13ad6ca!2sStudent+Center+South!5e0!3m2!1sen!2sus!4v1513633291481" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>