<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <section id="header">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Blockchain for<br> Supply Chain and<br> Logistics Forum<br></div>
                    <div class="intro-lead-in">May 21-22, 2018<br>University of Houston<br>Houston, Texas</div>
                </div>
            </div>
        </section>
    </header>

    {% include 2018_data/about.html %}
    {% include 2018_data/venue.html %}
    {% include 2018_data/registration.html %}
    {% include 2018_data/speakers.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/speakers_info.html %}
    {% include 2018_data/js.html %}

    </body>
</html>