<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="author" content="Blockchain Technology Initiatives">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/res/normalize.css">
	<link rel="stylesheet" href="/res/bootstrap-patched.css">
	<link rel="stylesheet" href="/res/bootstrap-xxs.css">
	<link rel="stylesheet" href="/res/jasny-bootstrap.css">
	<link rel="stylesheet" href="/styles.css">
</head>
<body>

	<header id="header" class="navbar sp-navbar-top navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">XChain<sup>2</sup></a>
			</div>
			<div class="navbar-offcanvas offcanvas">
				<a class="navmenu-brand" href="/">XChain<sup>2</sup>: Blockchain for Supply Chain and Logistics Forum</a>
				<ul class="nav navbar-nav">
					<!--<li><a class="nav-item" href="/">Home</a></li>-->
					<li><a class="nav-item" href="/program/">Program</a></li>
					<li><a class="nav-item" href="/registration/">Register</a></li>
					<li><a class="nav-item" href="/speakers/">Speakers</a></li>
					<li><a class="nav-item" href="/sponsors/">Sponsors</a></li>
					<li><a class="nav-item" href="/organizers/">Organizers</a></li>
					<li><a class="nav-item" href="/contact/">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>

	<!--<hr class="clearfix w-100 d-md-none">-->

	<main id="main">
		{{ content }}
	</main>

	<hr class="clearfix w-100 d-md-none">

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-sm-3 col-xs-6">
					<h3>Nav</h3>
					<ul class="list-unstyled">
						<li><a class="" href="/program/">Program</a></li>
						<li><a class="" href="/registration/">Registration</a></li>
						<li><a class="" href="/speakers/">Speakers</a></li>
						<li><a class="" href="/sponsors/">Sponsors</a></li>
						<li><a class="" href="/organizers/">Organizers</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<h3>Social</h3>
					<ul class="list-unstyled">
						<li><a class="" href="#">Facebook</a></li>
						<li><a class="" href="#">Twitter</a></li>
						<li><a class="" href="#">LinkedIn</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Contact</h3>
					<p>Email us with any inquiries at contact@blockchainsupplychain.io.</p>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-12">
					<h3>Organizers</h3>
					<p>The XChain<sup>2</sup>: Blockchain for Supply Chain and Logistics Forum is organized by the University of Houston and the nonprofit Blockchain Technology Initiatives.</p>
					<p>Copyright 2018 BSCL Organizing Committee</p>
				</div>
			</div>
		</div>
	</footer>

	<br>
	<!--<hr class="clearfix w-100 d-md-none">-->

	<script src="/res/jquery-1.10.2.js"></script>
	<script src="/res/bootstrap.js"></script>
	<script src="/res/jasny-bootstrap.js"></script>
</body>
</html>