
	

	<section class="container">
		<div id="about(2)">
			<!--<h1>About(2)</h1>-->
			<div class="row">
				<div class="col-md-12">
					<p>Supply chain blockchain is taking root at a rapid clip. Emerging today are the components needed to create robust supply chain blockchain networks. However, exponential change will truly start to take shape through the integration of blockchain with other innovative technologies like AI and IoE. Technological intersections like these have lead to major corporations like Amazon, Uber, Stripe, and numerous others.</p>
					<p>The collision of cutting edge solutions like blockchain, AI, and IoE will help the supply chain and logistics market address key issues as well as costly problems by providing a deeper understanding of what and how supply chain and logistics processes can be optimized.</p>
					<p>XChain2 is a two day event promoting education, collaboration, innovation, and research among technologists, stakeholders, solution providers, and business leaders.</p>
					<p>Join us for an enlightening exploration into these revolutionary technologies and learn how they will synergize each other and industry. At XChain2, you will discover how blockchain, AI, and IoE have solved real-world problems in logistics and meet subject matter experts who will be showcasing their pilot projects as well as the value they added. More importantly, you will learn how to incorporate blockchain, AI, and IoE into your business and transform your supply chains.</p>
				</div>
			</div>
		</div>
	</section>
	<br>
